* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 20px 10px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
  background-color: white;
  padding: 5px 5px;
}

.logo {
  color: black;
  font-size: 2em;
  text-decoration: none;
  margin-top: -19px;
  font-weight: bold;
}
.logo span {
  color: #fb911f;
}

.navbar {
  display: flex;
  position: relative;
  padding: 10px 10px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin-left: 30px;
  font-weight: bold;
}

header .navbar li a:hover {
  color: #fb911f;
  border-bottom: 2px solid #fb911f;
}

.btn-reserve {
  padding: 10px 15px;
  background-color: #fb911f;
  margin-top: -10px;
  text-transform: uppercase;
}
.btn-reserve:hover {
  background: #c0c0c0;
  transition: ease-out;
}

.banniére {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/resto1.jpg);
  background-size: cover;
}

.banniére .contenu {
  max-width: 70%;
  text-align: center;
}
.banniére .contenu h2 {
  color: white;
  font-size: 3em;
  text-transform: capitalize;
}

.contenu p:nth-child(2) {
  color: white;
  font-size: 1.2em;
}

.btn1 {
  font-size: 1em;
  color: white;
  background: #fb911f;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 5%;
}

.btn2 {
  font-size: 1em;
  color: white;
  background: #fb911f;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn1:hover {
  letter-spacing: 4px;
}
.btn2:hover {
  letter-spacing: 4px;
}

section {
  padding: 100px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.row .col50 h2 {
  margin-bottom: 20px;
}

.row .col50 .img {
  margin-left: 60px;
  border-radius: 150px;
}
.row .col50 p {
  margin-left: 50px;
}

.titre {
  color: black;
  font-size: 2.5em;
  font-weight: 300px;
  /*text-transform: capitalize;*/
}
.titre2 {
  color: black;
  font-size: 1em;
  font-weight: 300px;
  /*text-transform: capitalize;*/
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 65px;
}

span {
  color: #fb911f;
  font-size: 1.2em;
  font-weight: 700px;
}

.row .col50 p {
  color: black;
  font-weight: 300;
}

.row .col50 img {
  position: relative;
}
.titre {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-top: -100px;
}

.menu .contenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu .contenu .box {
  font-weight: 350px;
  margin-top: 20px;
  border: 5px solid white;
  box-shadow: 5px 5px 25px black;
  margin-left: 50px;
}
.menu .contenu .box .inbox {
  position: relative;
  width: 100%;
  height: 275px;
}
.menu .contenu .box .inbox img {
  position: relative;
  top: 0;
  left: 0;
  width: 183px;
  height: 210px;
  object-fit: cover;
}

.menu .contenu .box .text {
  text-align: center;
  font-weight: 300px;
  color: black;
}

.menu .contenu .box .text h3 {
  font-weight: bold;
  margin-top: -50px;
}

.témognages {
  background: url(images/noire.jpg);
  background-size: cover;
}

.témognages .titre3 {
  text-align: center;
  font-size: 1.5em;
}

.témognages .contenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.témognages .contenu .box {
  width: 340px;
  height: 340px;
  margin: 20px;
}

.témognages .titre3 {
  color: white;
}

.témognages .box {
  margin-left: 70px;
  margin-right: 30px;
  background: white;
  border-radius: 30px;
  box-shadow: 30px 30px 25px black;
}

.témognages .box .image {
  margin-left: 15px;
  margin-top: 10px;
}

.témognages .contenu .box .image {
  border-radius: 460px;
}

.image4 {
  border-radius: 15px;
  margin-left: 5px;
}

.témognages p {
  margin-left: 20px;
  color: black;
  margin-top: 20px;
  font-style: italic;
  font-weight: 600;
}

.témognages .text h3 {
  margin-left: 65px;
  color: #fb911f;
  margin-top: 50px;
  font-weight: bold;
}

.témognages .ppp {
  text-align: center;
  color: white;
  font-size: 0.5em;
}

.contact {
  background: url(images/gris2.jpg);
}

.contact .contactform {
  width: 390px;
  height: 390px;
  align-items: center;
  background: white;
  margin-left: 370px;
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 50px;
}

.contact .contactform .pp {
  margin-left: 40px;
  margin-top: 20px;
}
.contact .contactform .inputboite {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .title {
  font-size: 1.5em;
  text-align: center;
}

.contactform .inputboite input,
.contactform .inputboite textarea {
  width: 80%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contactform .inputboite input[type="submit"] {
  font-size: 1em;
  font-weight: 700;
  background: #fb911f;
  color: white;
  width: 40%;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.contactform .inputboite input[type="submit"]:hover {
  background: #c0c0c0;
}

.copyright {
  padding: 20px 30px;
  text-align: center;
  border-top: 2px solid black;
  background: white;
  font-style: italic;
}

.copyright a {
  color: #fb911f;
  font-style: italic;
  text-decoration: none;
}

header .sticky {
  background: #fff;
  padding: 10px 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

@media (max-width: 911px) {
  header,
  header.sticky {
    padding: 20px 10px;
  }
  header .navbar li {
    margin-left: 0%;
  }
  header .navbar li a {
    text-decoration: none;
    color: #111;
    font-size: 0.9em;
    font-weight: bold;
  }
  .navbar {
    display: none;
  }
  section {
    padding: 20px;
  }
  .menutoggle {
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url(images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .menutoggle .active {
    background-image: url(images/menu.jpg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-origin: center;
  }

  header .sticky .menutoggle {
    filter: invert(1);
  }

  .banniére .contenu h2 {
    font-size: 1.5em;
  }

  .row .col50 img {
    margin-left: 20px;
  }

  .contenu p:nth-child(2) {
    font-size: 1.5em;
  }

  .menu {
    margin-top: 0px;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .contact {
    flex-direction: column;
  }

  .témognages h2 {
    font-size: 2em;
    text-align: center;
  }
  .témognages p {
    text-align: center;
  }
  .contactform {
    margin-left: 25%;
  }

  .row .col50 {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .row {
    flex-direction: column;
  }
}
